.navigation_header .content {
    width: 90%;
    margin: 0 auto;
    clear: both;
}
.navigation_header .content > span {
    float: left;
    padding: 10px 0;
    margin-right: 10px;
}
.navigation_header .content > a {
    float: left;
    padding: 10px;
}
.navigation_header span.userArea {
    float: right;
}
.contentContainer {
    clear: both;
    width: 88%;
    margin: 0 auto;
}
.contentContainer .leftContent {
    width: 60%;
}
.contentContainer .leftContent .element {
    position: relative;
    margin-bottom: 10px;
}
.contentContainer .leftContent .element .elementOthers {
    display: table-cell;
    vertical-align: middle;
}
.contentVerticalMiddle {
    vertical-align: middle;
}
.contentContainer .articleSummary {
    position: absolute;
    left: 86px;
    top: 18px;
    margin: 0;
}
.authorName {
    margin-left: 2px;
}
.contentContainer .ctimeLabel{
    margin-right: 4px;
    font-family: SimHei;
}
.paginations {
    width:88%;
    margin: 0 auto;
}

