.homeNavigator {
    background-color: red;
}
.homeNavigator .blogNavigator,.homeNavigatorDetails{
    width: 80%;
    margin: 0 auto;
}
.homeNavigator .blogNavigator{
    text-align: left;
}
.homeNavigator .homeNavigatorDetails{
    text-align: right;
}
.homeContent {
    width: 80%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
.homeContent .homeContentLeft{
    float: left;
}
.homeContent .homeContentRight{
    float: right;
}
.homeNavigatorDetails a {
    margin-left: 10px;
}
.labelArea .content{
    margin-left: 20px;
}
