.homeNavigator {
    background-color: red;
}
.homeNavigator .blogNavigator,.homeNavigatorDetails{
    width: 80%;
    margin: 0 auto;
}
.homeNavigator .blogNavigator{
    text-align: left;
}
.homeNavigator .homeNavigatorDetails{
    text-align: right;
}
.homeContent {
    width: 80%;
    margin: 0 auto;
}
.homeContent .homeContentLeft{
    float: left;
    width: 20%;
}
.homeContent .homeContentRight{
    float: right;
    width: 80%;
}
.homeNavigatorDetails a {
    margin-left: 10px;
}
.labelArea .content{
    margin-left: 20px;
}
#favorButton {
    margin-right: 30px;
    background-image: url("/font_statics/images/favor.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 44px;
}
#opposeButton {
    background-image: url("/font_statics/images/oppose.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 44px;
}
.theUserAttitude {
    border: 1px solid red;
}
.leveOffset {
    margin-left: 20px;
}
.replayOnComment {
    text-align: right;
}
