{% extends "base.html" %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="/font_statics/css/backend/base.css"/>
{% endblock %}

{% block head %}
    <div class="pgHheader">
        <div class="part pgHheader-left">
            <span class="logo">EasyStack</span>
        </div>
        <div class="part pgHheader-middle">
            <span>博客首页</span>
        </div>
        <div class="part pgHheader-right">
            <a class="item">任务</a>
            <a class="item">通知</a>
            <a class="item">消息</a>
            <div class="item-set">
                <img class="profilePhoto" src="/font_statics/images/profilePhoto.png">
                <div class="profileMenu">
                    <div class="borderContainer">
                        <a>菜单四-1</a>
                        <a>菜单四-2</a>
                        <a>菜单四-3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}