{% extends './backendBase.html' %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/font_statics/css/backend/base.css">
<link type="text/css" rel="stylesheet" href="/font_statics/css/backend/trouble.css">
{% endblock %}
{% block bodyRightContent %}
<div><span>报障管理</span><span>/</span><span>报障列表</span></div>
<div class="makeNewTroubleToolBar"><a href="trouble/createNewTrouble.html" class="makeNewTrouble"></a></div>
<table>
    <thead><th>故障标题</th><th>状态</th><th>创建时间</th><th>创建人</th><th>操作</th></thead>
    <tbody>
        {% for trouble in troubles %}
        <tr>
            <td>{{ trouble.title }}</td><td>{{ trouble.get_status_display }}</td><td>{{ trouble.ctime }}</td><td>{{ trouble.thePoser }}</td><td><a href="">删除</a><span>|</span><a href="">编辑</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}