{% extends "./homeBase.html" %}
{% block contentRight %}
    <p>{{ article.title }}</p>
    <p>{{ article.detail.content }}</p>
    <p>
        <button class="{% if 1 == favor %}theUserAttitude{% endif %}" id="favorButton"></button>
        <button class="{% if 1 == oppose %}theUserAttitude{% endif %}" id="opposeButton"></button>
    </p>
    <p id="commentsTrees">
        {{ commentsTrees }}
    </p>
    <p></p>
    <script>
        const ATTITUDE_FAVOR  = 0
        const ATTITUDE_OPPOSE = 1
        const ON_ATTITUDE  = 1;
        const OFF_ATTITUDE = -1;

        function doAttitude(direction, attitude, button) {
            datas = window.location.pathname.split('/')
            var articleId_Rex = new RegExp(/\d+/g)
            //console.log(articleId_Rex.exec(datas[2])[0])
            $.ajax({
                url:"/userAttitleTheArticle/",
                type: 'post',
                data:{"surfix":datas[1], "articleId":articleId_Rex.exec(datas[2])[0],"direction":direction, "attitude":attitude},
                success:function (arg) {
                    if ("success" == arg) {
                        if(ON_ATTITUDE == direction && ATTITUDE_FAVOR == attitude) {
                            button.addClass("theUserAttitude")
                            console.log("点赞成功")
                        } else if (OFF_ATTITUDE == direction && ATTITUDE_FAVOR == attitude) {
                            button.removeClass("theUserAttitude")
                            console.log("去赞成功")
                        } else if (ON_ATTITUDE == direction && ATTITUDE_OPPOSE == attitude) {
                            button.addClass("theUserAttitude")
                            console.log("踩成功")
                        } else {
                            button.removeClass("theUserAttitude")
                            console.log("去踩成功")
                        }
                    } else if("failed" == arg) {
                        console.log("操作数据库失败")
                    }
                },
                error:function () {
                    console.log("发送Ajax请求失败")
                }
            })
        }
        $(document).ready(function () {
            csrftokenInAjax()
            $("#favorButton").click(function () {
                var direction = ON_ATTITUDE
                if ($(this).hasClass("theUserAttitude")) {
                    direction = OFF_ATTITUDE
                }
                doAttitude(direction, ATTITUDE_FAVOR, $(this))
            })
           $("#opposeButton").click(function () {
                var direction = ON_ATTITUDE
                if ($(this).hasClass("theUserAttitude")) {
                    direction = OFF_ATTITUDE
                }
                doAttitude(direction, ATTITUDE_OPPOSE, $(this))
            })
        })
    </script>
{% endblock %}
