{% extends "./homeBase.html" %}
{% block js %}
    <script type="text/javascript" src="/font_statics/js/kindeditor-all.js" ></script>
{% endblock %}
{% block contentRight %}
    <p>{{ article.title }}</p>
    <p>{{ article.detail.content }}</p>
    <p>
        <button class="{% if 1 == favor %}theUserAttitude{% endif %}" id="favorButton"></button>
        <button class="{% if 1 == oppose %}theUserAttitude{% endif %}" id="opposeButton"></button>
    </p>
    <p id="commentsTrees" article="{{ article.id }}">
        {{ commentsTrees }}
    </p>
    <p><textarea id="commentToTheArticle"></textarea><button id="submitCommentOfTheArticle">提交</button></p>
    <script type="text/javascript" src="/font_statics/js/article.js"></script>
{% endblock %}
