<div class="navigation_header">
    <div class="content">
        <span>老子的技术论坛</span>
        <a href='/'>全部</a>
        {% for type in articleTypes %}
            <a href={% url "mySiteIndex" articleType=type.0 %}>{{ type.1 }}</a>
        {% endfor %}
        <span class="userArea">
            {% if request.session.username %}
                <a href={{ surfix }}>{{ request.session.username }}</a>
                <span>.</span>
                <a href="" class="myBlog">我的博客</a>
                <span>.</span>
                <a>管理</a>|<a href='{% url 'logout' %}'>退出</a>
            {% else %}
                <a href={% url 'register' %}>注册</a>|<a href={% url 'login' %}>登录</a>
            {% endif %}
        </span>
    </div>
</div>