{% extends 'base.html' %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="/font_statics/css/register.css">
{% endblock %}
{% block jquery %}
{% endblock %}
{% block body %}
        <div class="registerFormTitle">注册</div>
        <form method="post" action={% url 'register' %} class="registerForm">
        {{ registerForm.username }}
        <div>{{ registerForm.errors.username.0 }}</div>
        {{ registerForm.email }}
        <div>{{ registerForm.errors.email.0 }}</div>
        {{ registerForm.password }}
        <div>{{ registerForm.errors.password.0 }}</div>
        {{ registerForm.confirmPassword }}
        <div>{{ registerForm.errors.confirmPassword.0 }}</div>
        {{ registerForm.checkCode }}
        <div>{{ registerForm.errors.checkCode.0 }}</div>
        {{ registerForm.headPicture_path }}
        <input type="submit">
    </form>
{% endblock %}