body {
    margin: 0;
}
.pgHheader {
    height: 48px;
    line-height: 48px;
    min-width: 1100px;
    background-color: blueviolet;
}
.pgHheader .part {
    display: inline-block;
}
.pgHheader-left {
    height: 48px;
    width: 16%;
    float: left;
    text-align: center;
    background-color: blue;
}
.pgHheader-left .logo {
    color: white;
    font-size: 30px;
}
.pgHheader-middle {
    height: 48px;
    float: left;
}
.pgHheader-middle span {
    font-size: 20px;
}
.pgHheader-right {
    float: right;
}
.pgHheader-right .item {
    /*float: left;*/
    margin-right: 36px;
}
.avatar {
    float: right;/*保证包含图片和弹出菜单的这一坨虽然很高,但不会影响同行其他Dom的上下位置*/
    display: inline-block;
    position: relative;
}
.avatar .sets{
    position: absolute;
    top: 48px;
    left: -103px;
    display: none;
    width: 150px;
    border: 1px solid #DDDDDD;
}
.avatar:hover .sets {
    display: block;
}
.avatar .sets a {
    display: block;
}
.avatar .profilePhoto {
    margin: 2px 0;
    border-radius: 50%;
}
.bodyPart {
    position: absolute;
    top: 48px;
    bottom: 0;
}
.bodyLeft {
    left: 0;
    width: 16%;
}
li {
    list-style-type: none;
}
li a {
    text-decoration: none;
}
ul.bodyLeft {
    padding-left: 0;
}
.bodyLeft li {
    padding-left: 40px;
    margin-bottom: 4px;
    padding-bottom: 6px;
    border-bottom-style: dotted;
    border-right: 4px solid transparent;
}
.bodyLeft li:hover {
    border-right: 4px solid red;
}
.bodyLeft li a {
    font-size: 20px;
    padding-left: 24px;
    background-image: url("/font_statics/images/menuItemBackground.png");
    background-repeat: no-repeat;
}
.bodyRight {
    left: 16%;
    right: 0;
    overflow: auto;
}
.crumbsContainer {
    height: 49px;
    background-image: url("/font_statics/images/leftRightSpace_head.png");
    background-repeat: no-repeat;
}
.crumbs {
    margin-left: 12px;
    border-bottom: 1px dotted;
}
.bodyRightContent .contentContainer {
    background-image: url(/font_statics/images/leftRightSpace_body.png);
    background-position: left center;
    background-repeat: repeat-y;
}
.partsSpace {
    padding-left: 40px;
}
.searchConditions {
    background-image: url("/font_statics/images/magnifier.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    margin-left: 12px;
    border-bottom: 1px dotted;
}


