body {
    margin: 0;
}
.pgHheader {
    height: 48px;
    line-height: 48px;
    min-width: 1100px;
    background-color: blueviolet;
}
.pgHheader .part {
    display: inline-block;
}
.pgHheader-left {
    height: 48px;
    width: 16%;
    float: left;
    text-align: center;
    background-color: blue;
}
.pgHheader-left .logo {
    color: white;
    font-size: 30px;
}
.pgHheader-middle {
    height: 48px;
    float: left;
}
.pgHheader-middle span {
    font-size: 20px;
}
.pgHheader-right {
    float: right;
}
.pgHheader-right .item {
    /*float: left;*/
    margin-right: 36px;
}
.avatar {
    float: right;/*保证包含图片和弹出菜单的这一坨虽然很高,但不会影响同行其他Dom的上下位置*/
    display: inline-block;
    position: relative;
}
.avatar .sets{
    position: absolute;
    top: 48px;
    left: -103px;
    display: none;
    width: 150px;
    border: 1px solid #DDDDDD;
}
.avatar:hover .sets {
    display: block;
}
.avatar .sets a {
    display: block;
}
.avatar .profilePhoto {
    margin: 2px 0;
    border-radius: 50%;
}
.bodyPart {
    position: absolute;
    top: 48px;
    bottom: 0;
}
.bodyLeft {
    left: 0;
    width: 16%;
}
li {
    list-style-type: none;
}
li a {
    text-decoration: none;
}
ul.bodyLeft {
    padding-left: 0;
}
.bodyLeft li {
    border-bottom-style: dotted;
}
.bodyRight {
    left: 16%;
    right: 0;
    overflow: auto;
    background-color: blue;
}
.bodyRightContent {

}



