table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid red;
    padding: 6px;
}
.makeNewTroubleToolBar {
    text-align: right;
}
.makeNewTrouble {
    display: inline-block;
    width: 132px;
    height: 46px;
    background: url("/font_statics/images/makeNewTrouble.png") no-repeat;
}